<%- layout("/layouts/boilerplate.ejs") %>
<body>
    

<div class="row">
    <div class="col-7 offset-2">
        <br><br>
<h3>Edit Revision</h3><br>
<form method="post" action="/listings/<%= listing._id %>?_method=put">
    <div class="mb-2">
        <label for="subject" class="form-label">Subjcet:</label>
        <input type="text" value="<%= listing.subject  %>" name="listing[title]" class="form-control" >
    </div>
    <div class="mb-2">
        <label for="description" class="form-label">Topics</label>
        <textarea name="listing[topics]"  class="form-control"><%= listing.topics %></textarea>
    </div>
    <div class="mb-4">
        <label for="location" class="from-label">Note</label>
        <input type="text" name="listing[note]" value="<%= listing.note %>" class="form-control">
    </div>
    <div class="mb-4">
        <label for="images" class="from-label">Images:</label>
        <textarea style="border: dotted;cursor:pointer !important" placeholder="upload images" class="form-control"></textarea>
    </div>
    <div class="mb-2">
        <i class="fa-solid fa-face-dizzy emoji text-danger" style="margin-left:-.2rem ;"></i>
        <i class="fa-solid fa-face-sad-tear emoji text-warning"></i>
        <i class="fa-solid fa-face-smile emoji text-success"></i>
        <i class="fa-solid fa-face-laugh emoji text-primary"></i>
    </div><br>
    <button class="btn btn-dark">Edit</button><br><br>
</form>
    </div>
</div>
</body>